*{
  margin: 4px;
  padding: 2px;
  text-align: center;
  font-style: italic;

}
div{
  background-color: rgb(106, 181, 116);
  color: rgb(71, 31, 9);
 

}
body{ 
   border: 2px solid black;
  border-radius: 7px;
  background-color: rgb(10, 10, 9);
   
}

h1{
  background-color: rgb(39, 72, 17);
  color: rgb(219, 207, 210);
  position: sticky;
  top: 5px;
  overflow-y: auto;
  margin: 5px;
  padding: 8px;
  border-radius: 7px;
  border: 2px solid black;
}

p{
  background-color: rgb(39, 72, 17);
  border-radius: 7px;
  color: rgb(219, 207, 210);
  
}
.ends{
  background-color: rgb(39, 72, 17);
  color: rgb(219, 207, 210);
 position: sticky;
  bottom: 5px;
  overflow-y: auto;
   margin: 5px;
  padding: 8px;
  font-weight: 600;
   border: 2px solid black;
  font-size: larger;
}


